.footer {
    background-color: #8a4d76;
    padding: 1rem 0rem 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer {
        position: absolute !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .footer {
        position: absolute !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .footer {
        position: fixed !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .footer {
        position: fixed !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .footer {
        position: fixed !important;
    }
}